In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [3]:
ds = pd.read_csv('loan.csv')

In [5]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
ds.shape

(614, 13)

In [15]:
ds.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [33]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical column
ds['Loan_ID'] = label_encoder.fit_transform(ds['Loan_ID'])
ds['Gender'] = label_encoder.fit_transform(ds['Gender'])
ds['Education'] = label_encoder.fit_transform(ds['Education'])
ds['Self_Employed'] = label_encoder.fit_transform(ds['Self_Employed'])
ds['Property_Area'] = label_encoder.fit_transform(ds['Property_Area'])
ds['Married'] = label_encoder.fit_transform(ds['Married'])
#accidentally removed the line for dependents column, it was also encoded
print(ds)

     Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
1          0       1        1           1          0              0
2          1       1        1           0          0              1
3          2       1        1           0          1              0
4          3       1        0           0          0              0
5          4       1        1           2          0              1
..       ...     ...      ...         ...        ...            ...
609      512       0        0           0          0              0
610      513       1        1           3          0              0
611      514       1        1           1          0              0
612      515       1        1           2          0              0
613      516       0        0           0          0              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Property_Area Loan_Status
1               1.0              0           N
2               1.0              2           Y
3               1.0              2           Y
4               1.0              2           Y
5               1.0              2           Y
..              ...            ...         ...
609             1.0              0           Y
610             1.0              0           Y
611             1.0              2           Y
612             1.0              2           Y
613             0.0              1           N

[517 rows x 13 columns]

F:\temporary files\ipykernel_15088\27011810.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Loan_ID'] = label_encoder.fit_transform(ds['Loan_ID'])
F:\temporary files\ipykernel_15088\27011810.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Gender'] = label_encoder.fit_transform(ds['Gender'])
F:\temporary files\ipykernel_15088\27011810.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Education'] = label_encoder.fit_transform(ds['Education'])
F:\temporary files\ipykernel_15088\27011810.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Self_Employed'] = label_encoder.fit_transform(ds['Self_Employed'])
F:\temporary files\ipykernel_15088\27011810.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Property_Area'] = label_encoder.fit_transform(ds['Property_Area'])
F:\temporary files\ipykernel_15088\27011810.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Married'] = label_encoder.fit_transform(ds['Married'])

In [35]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,512,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,513,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,514,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,515,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,516,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [25]:
ds = ds.dropna()

In [27]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
5,5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,610,1,1,3+,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [29]:
ds.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [37]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,512,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,Y
610,513,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,Y
611,514,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,Y
612,515,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,Y
613,516,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,N

In [39]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical column
ds['Loan_Status'] = label_encoder.fit_transform(ds['Loan_Status'])

#print(ds)

F:\temporary files\ipykernel_15088\1295904427.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Loan_Status'] = label_encoder.fit_transform(ds['Loan_Status'])

In [41]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,512,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,513,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,514,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,515,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,516,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [43]:
x = ds.drop(columns = 'Loan_Status', axis = 1)
y = ds['Loan_Status']

In [45]:
x

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
609,512,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
610,513,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0
611,514,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
612,515,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2
613,516,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [47]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 517, dtype: int32

In [49]:
from sklearn.preprocessing import StandardScaler

In [51]:
ds

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,4,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,512,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
610,513,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
611,514,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2,1
612,515,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2,1
613,516,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [53]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [55]:
x

array([[-1.72870385,  0.37078026,  0.74333879, ...,  0.28155495,
         0.40870881, -1.30234962],
       [-1.72200344,  0.37078026,  0.74333879, ...,  0.28155495,
         0.40870881,  1.2724678 ],
       [-1.71530304,  0.37078026,  0.74333879, ...,  0.28155495,
         0.40870881,  1.2724678 ],
       ...,
       [ 1.71530304,  0.37078026,  0.74333879, ...,  0.28155495,
         0.40870881,  1.2724678 ],
       [ 1.72200344,  0.37078026,  0.74333879, ...,  0.28155495,
         0.40870881,  1.2724678 ],
       [ 1.72870385, -1.99580484, -1.34528161, ...,  0.28155495,
        -2.44672975, -0.01494091]])

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, stratify = y, random_state = 1)

In [61]:
model = svm.SVC(kernel = 'linear')
model.fit(x_train, y_train)

SVC(kernel='linear')

In [63]:
train_pred = model.predict(x_train)
train_acc = accuracy_score(train_pred, y_train)
print('Accuracy is : ', train_acc)

Accuracy is :  0.7990314769975787

In [65]:
test_pred = model.predict(x_test)
test_acc = accuracy_score(test_pred, y_test)
print('Accuracy is : ', test_acc)

Accuracy is :  0.8653846153846154